* body {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

.container {
  width: 500px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px;
}

input {
  padding: 8px 15px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

form input {
  flex: 1;
  margin-right: 15px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

li:hover {
  background-color: #ddd;
  color: rgb(3, 200, 134);
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px 0px 10px 5px;
}

li p {
  flex: 1;
  color: orangered;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

li .todo {
  flex: 0 0 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 15px;
  border: 2px solid #333;
}

li .todo.done {
  background: #333;
}

li p.done {
  text-decoration: line-through;
  color: rgb(3, 200, 134);
}

Button {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

Button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

Button:active {
  position: relative;
  top: 1px;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
